.App {
  text-align: center;
  padding-bottom: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input {
  margin-left: 10px;
  border: 0 none;
  box-shadow: 0 1px 10px rgba(0,0,0,.05);
  padding: 10px;
  outline: 0;
}

.rangeImg {
  max-width: 500px;
  width: 100%;
  margin-top: 1.5vh;
  box-shadow: 0 11px 24px rgba(0,0,0,.2);
}

.rangeSumm {
  margin-top: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
